body {
  font-family: 'Open Sans', sans-serif;

  color: var(--text-color);

  margin: 0;
  padding: 0;

  background: var(--background-color) url(images/background-graphic.svg) no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a, a:active {
  color: var(--text-color);
}

a:hover,
a:visited {
  color: var(--text-color-secondary);
}

/*
  border-box
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*
  Helpers
*/
.visually-hidden {
  /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
