:root {
  --masthead-height: 60px;

  --primary-color: rgba(255,241,118,1);
  --primary-active-color: rgba(250,232,72,1);
  --background-color: rgba(255, 255, 255, 1);
  --text-color: rgba(74, 74, 74, 1);
}
