<section class="explainer section">
    <ul class="row">
      <li class="row-item explainer-item">
        <div class="image">
          <img src="images/explainer-icon-cardboard.svg" />
        </div>
        Learn how to make open-source, cardboard versions of your favourite products</li>
      <li class="row-item explainer-item">
        <div class="image">
          <img src="images/explainer-icon-hardware.svg" />
        </div>
        Build real connected hardware and software</li>
      <li class="row-item explainer-item">
        <div class="image">
          <img src="images/explainer-icon-software.svg" />
        </div>
        Extend your programming skills to learn full-stack IoT from messaging to apps</li>
    </ul>
  </div>
</section>
