<section class="explainer section">
    <ul class="row">
      <li class="row-item explainer-item">
        <div class="image">
          <img src="images/explainer-icon-everything.svg" />
        </div>
        <h3>Proper Smart</h3>
        <p>Recreate your favourite IoT products in cardboard. Messaging, hardware &amp; apps.</p>
      </li>
      <li class="row-item explainer-item">
        <div class="image">
          <img src="images/explainer-icon-cardboard.svg" />
        </div>
        <h3>Obstacle-less</h3>
        <p>Includes all the bits. Hack guided challenges with help to ensure you succeed.</p>
      </li>
      <li class="row-item explainer-item">
        <div class="image">
          <img src="images/os-logos.svg" />
        </div>
        <h3>Open</h3>
        <p>100% open source. Buy the kits or get going with our workshoppers &amp; schematics.</p>
      </li>
    </ul>
  </div>
</section>
