.explainer {
  min-height: 294px;

  /*background-image: linear-gradient(-135deg, #FDED63 0%, #FFF176 100%);*/
  background: var(--primary-color);
}

.explainer > * {
  min-height: inherit;
}

.explainer-item {
  max-width: 190px;
  min-height: 176px;
  text-align: center;
}

.explainer-item:first-child {
  margin-right: 85px;
}

.explainer-item:last-child {
  margin-left: 85px;
}

.explainer-item .image {
  margin-bottom: 20px;
  min-height: 143px;
  line-height: 143px;
}

.explainer-item .image img {
  width: 100%;
  vertical-align: middle;
}
