.why,
.kit,
.workshop {
  font-size: 1.4rem;
  line-height: 1.7;
}

.kit,
.workshop {
  text-align: center;
}

.kit-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*justify-content: center;*/
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.kit-first {
  order: -1;
}

.kit-first,
.kit-second {
  flex-basis: 25%;
}

@media screen and (width <= 668px) {
  .kit-wrapper {
    flex-direction: column;
  }

  .kit-first,
  .kit-second {
    flex-basis: auto;
  }
}

.kit > * {
  flex: 1 1 auto;
}

.why .section-primary,
.kit .section-primary {
  font-weight: bold;
}

.why p > *,
.kit p > *,
.kit .highlight {
  display: inline-block;
  padding: 0.3rem;
}

.why .highlight,
.kit .highlight {
  background-color: var(--primary-color);
}

.why .cta,
.kit .cta {
  font-weight: bold;
}

.kit-primary-image {
  width: 30%;
  padding: 1rem;
}

.workshop-primary-image {
  padding-top: 2rem;
  height: 100px;
}
