.action {
  display: inline-flex;
}

.action-input,
.action-primary {
  padding: 0.5rem 1rem;
}

.action-input {
  flex: 1 0 auto;
}

.action-primary {
  border: var(--text-color);
  color: var(--primary-color);
  background-color: var(--text-color);
}

.action-primary:hover {
  background-color: var(--text-color-secondary);
  color: var(--primary-active-color);
}

a.action-primary {
  padding: 1rem 2rem !important;
}

a.action-primary,
a.action-primary:hover {
  text-decoration: none;
  color: #fff;
}
