.section {
  overflow: auto;
}

.section.section-padding {
  margin: 0;
  padding: 2rem 2rem;
}

.section.section-padding.section-link {
  padding: 0;
}

.section.section-padding.section-link a,
.section.section-padding.section-link a:hover {
  display: block;
  margin: 0;
  padding: 1rem 2rem;
}

.section-seperator-above {
  border-top: 1px solid rgba(74, 74, 74, 0.2);
}

.section-seperator-above-dark {
  border-top: 1px solid rgba(74, 74, 74, 0.6);
}

.section-primary,
.section-secondary {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.section-primary {
  font-size: 1.4rem;
}

/*
  Reset text styles in linked sections
*/
.section-link a ,
.section-link a:hover {
  color: var(--text-color);
  text-decoration: none !important;
}

.section-link a:hover {
  display: block;
  background: var(--primary-color);
}
